  body, div{overflow: none !important;}
  #main{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .navbar-brand,
.navbar-nav li a {
    line-height: 50px;
    height: 50px;
    padding-top: 0;
}
   #logo {
    width: 35px;
    height: 35px;
    padding: 5px;
    /*background-color: #0072c6;*/
    border-radius: 5px;
   }
    .list-group {
        height: 400px;
        background-color: #ddd;
    }
 .btn-group {
    width: 100%;
 }
 
   .removeAllSelect, .addAllSelect
   {
        width: 40%;

   }
   .addSingleSelect, .removeSingleSelect 
   {
    width: 60%;
  
   }
   .select2-container {
            width: 200px;
        }

        .column {
            float: left;
            width: 33%;
        }
        .permissions {
            display: none;
        }
        .box1, .box2 {
            /*width: 40%;
            float: left;*/
        } 
        .moveall {
            content: string('Give All');
        }
        .removeall {
            content: string('Remove All');
        }
        .userInfo tr td:first-child {
           text-align:right;
        }
        .lock {
            border: 1px solid #000;
            border-radius: 50%;
            padding: 0.5em;
        }

        .progress, .results {
            display: none;
        }

        .results {
            height: 10%;
            overflow-y:scroll;
        }
      