<template id="select-assigned">
  <v-card height="100%" class="flexcard" >
    <v-card-title primary-title>
      <h4 class="grey--text text--darken-2">Current {{type}}</h4>
      <v-text-field
      v-model="searchAssigned"
      append-icon="search"
      label="Search"
      full-width
      hide-details
      ></v-text-field>
    </v-card-title>
    <v-card-text class="grow">
      <v-data-iterator :items="assignedItems" :search="searchAssigned" class="items" must-sort :rows-per-page-items="[{'text':'All', 'value': -1}]" >
        <v-flex slot="item"slot-scope="props" xs12>
              <v-btn block :ripple="false" :disabled="isSaving || isLoading  || !isSiteCollectionSelected || !selectedItem" @click="selectItem(props.item, props.index)" :color="props.item.selected ? 'blue-grey lighten-4' : 'undefined'" :outline="!props.item.selected" depressed> {{  props.item.title }} </v-btn>
        </flex>
      </v-data-iterator>
    </v-card-text>
    <v-card-actions>
     <v-btn block color="red darken-4" :disabled="isSaving || isLoading  || !isSiteCollectionSelected || !selectedItem" :dark="!isSaving || !isLoading  || !isSiteCollectionSelected || !selectedItem" @click="giveAll">Remove All</v-btn>    <v-btn block :disabled="isSaving || isLoading || !isSiteCollectionSelected || !selectedItem" color="red darken-4" :dark="!isSaving || !isLoading  || !isSiteCollectionSelected || !selectedItem" @click="giveSelected">Remove Selected</v-btn>   <v-btn block :disabled="isSaving || isLoading  || !isSiteCollectionSelected || !selectedItem" color="red darken-1" :dark="!isSaving || !isLoading  || !isSiteCollectionSelected || !selectedItem" @click="clearSelected">Clear Selected</v-btn>
    </v-card-actions>
  </v-card>
</template>
